<div class="container row">
  <h2>Devices</h2>
  <button *appHasRole='["Admin"]' routerLink='/device/add' class="btn btn-primary ml-auto"><i class="fa fa-plus"></i> Add device</button>
</div>

<p>List of companies' devices</p>

<table class="table table-hover table-test" style='margin-top: 40px;'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Type</th>
        <th scope="col">Assigned to</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let device of devices" >
        <td>{{device.name}}</td>
        <td>{{device.manufacturer}}</td>
        <td>{{device.type}}</td>
        <td [innerText]="device.userName"></td>
        <td>
          <button class="btn btn-primary mr-2" routerLink='/devices/{{device.id}}'><i class="fa fa-info"></i></button>
          <button *appHasRole='["Admin"]' routerLink='/device/edit/{{device.id}}' class="btn btn-secondary"><i class="fa fa-pencil-square-o"></i></button>
          <button *appHasRole='["Admin"]' (click)="deleteDevice(device.id)" class="btn btn-danger ml-2"><i class="fa fa-trash-o"></i></button>
        </td>
        <td *appHasRole='["Member"]'>
            <div class="form-check" *ngIf="!device.appUserId">
                <input [value]="device.id" (change)="toggleAssignationDevice($event)" class="form-check-input" type="checkbox">
                <label class="form-check-label" for="assignDevice">
                  Assign
                </label>
            </div>
            <div class="form-check" *ngIf="(device.appUserId === user.id)">
              <input name="assignDevice" [value]="device.id" (change)="toggleAssignationDevice($event)" checked class="form-check-input" type="checkbox" >
              <label class="form-check-label">Assign</label>
          </div>
        </td>
    </tr>
    </tbody>
</table>