<div class="container" *ngIf="device">
    <div class="row justify-content-center">
        <div class="col-5">
            <h2 class="text-center">Edit device</h2>
            <hr>
            <div>
                <div class="alert alert-info" *ngIf="editDeviceForm.dirty"
                >
                    <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
                </div>
            </div>
            <form [formGroup]="editDeviceForm" (ngSubmit)="editDeviceForm.valid && updateDevice()">
                <input type="hidden" [formControl]="editDeviceForm.controls['id']">
                <app-text-input [formControl]="editDeviceForm.controls['name']" [label]='"Name"'></app-text-input>
                <app-text-input [formControl]="editDeviceForm.controls['manufacturer']" [label]='"Manufacturer"'></app-text-input>
                <select [formControl]="editDeviceForm.controls['type']" class="form-control mb-3">
                    <option *ngFor="let type of deviceTypes" value={{type}}>{{type}}</option>
                </select>                
                <app-text-input [formControl]="editDeviceForm.controls['os']" [label]='"Operating System"'></app-text-input>
                <app-text-input [formControl]="editDeviceForm.controls['osVersion']" [label]='"OS Version"' [type]='"number"'></app-text-input>
                <app-text-input [formControl]="editDeviceForm.controls['processor']" [label]='"Processor"'></app-text-input>
                <app-text-input [formControl]="editDeviceForm.controls['ram']" [label]='"RAM"' [type]='"number"'></app-text-input>
                
                <div class="form-group text-center">
                    <button [disabled]="!editDeviceForm.valid" type="submit" class="btn btn-success col-5 mr-2">Save</button>
                    <button class="btn btn-info col-6" routerLink='/devices'>Back to devices</button>
                </div>
            </form>
        </div>
    </div>
</div>